.skills-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.skill-box{
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}