.footer {
    background-color: #111;
    color: #fff;
    padding: 40px 0;
    margin: 50px;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0pc 40px;
}

.footer-section {
    width: 200px;
    margin-bottom: 20px;
}

.footer-section h3,
.footer-section h4 {
    margin-bottom: 10px;
    color: #6C63FF;
}

.footer-section ul{
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section ul li a{
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}

.footer-section ul li a:hover{
    color: #6C63FF;
}

.footer-bottom {
    text-align: center;
    margin-top: 30px;
    color: #ddd;
    font-size: 12px;
    border-top: 1px solid #333;
    padding-top: 15px;
}

@media (max-width: 768px) {
  .footer-content {
    text-align: center;
    flex-direction: column;
    gap: 20px;
  }
}